body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: large;
    color: darkblue;
}
section{
    height: 500px;
    
    
    

}
.text-highlight {
    color: palevioletred;
    font-weight: 1000;
}
.link-button{
   
    text-decoration: none;
    background-color: palevioletred;
    padding: 8px 12px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}

.half-width img{
    width: 100%;
}

.top-banner{
    
    background-image: url("image/header-bg.png");
    background-repeat: no-repeat;
}

.half-width{
    display: inline-block;
    width: 40%;
    
    margin-left: 5%;
    padding-left: 2%;
}


.mid{
    background-image: url("image/bg.png");
    background-repeat: no-repeat;
}

.third-width{
    
    width: 30%;
    float: left;
    margin-left: 1%;
    padding-left: 1%;
}
.third-width img{
    width: 100%;
}
.third-part{
    background-image: url("image/latest-work-bg.png");
    background-repeat: no-repeat;
}

.footer{
    text-align: center ;
    background-image: url("image/foot.png");
    background-repeat: no-repeat;
}
.done{
   
    margin: 200px 500px;
    border-radius: 80%;
}